<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">    
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel = "stylesheet" href = "/public/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  
  <body>
     <div class="custom-container">
        <h1 class="text-center m-4 text-success">Pin-It</h1>
        <div class="jumbotron">
            <h3 class="text-center text-primary">Registration Form</h3>
            <br>
            {{!-- Display errors --}}
            {{!-- if condition --}}
            {{#if errors}}
                {{!-- Foreach loop --}}
                {{#each errors}}
                    <div class="alert alert-danger alert-dismissible fade show">
                        <strong>{{msg}}</strong>
                        <button class="close" data-dismiss="alert"><span>&times;</span></button>
                    </div>
                {{/each}}
                {{!-- End Foreach loop--}}
            {{/if}}
            {{!-- End If Condition --}}
            
            <form method="post" id="registration" action="">
                <div class="form-group">
                    <label for="fname">User Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your User Name" value="{{uname}}">
                </div>  
               <div class="form-group">
                    <label for="email">Email Id <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email" value="{{email}}">
                </div>
                <div class="form-group">
                    <label for="password">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password"value="{{password}}">
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Enter Same as Password" value="{{cpassword}}">
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-info btn-block">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            Already user? Login <a href="/">here</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/public/js/login.js">
    setTimeout(() => {
        $('.alert').remove();
    }, 3000)
</script>

</html>